.shop-container {
    padding: 2rem 10rem;

    h3 {
        margin: 100px auto;
    }

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        border-bottom: 1px solid #d8dbdf;
        padding: 1rem;
        grid-gap: 5rem;
        width: 80%;

        img {
            width: 100px;
        }

        &__desc {
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                margin-left: 200px;
            }
        }

        &__price {
            display: flex;
            justify-items: flex-end;
            position: relative;
        }

        &__trash{
            display: flex;
            justify-items: flex-end;
            position: relative;
            color: rgb(224, 54, 68);
            width: 10px;
            font-size: 20px;
            top: -7px;
            cursor: pointer;
        }

    }
}