.product-container {
    padding-top: 100px;
    text-align: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.productSpe {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #263849;
    margin-top: 100px;

    &__slider {
        width: 40%;
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__spe {
        width: 40%;

        &__firstLine {
            @extend .flex-row;

        }

        &__secondLine {
            @extend .flex-row;

            p:nth-child(1) {
                margin-right: 1rem;
            }

            p:nth-child(3) {
                margin-left: 1rem;
                margin-right: 1rem;
            }

            .modelCode {
                color: #8a8d92;
                font-size: small;
                position: relative;
                top: 5px
            }
        }

        &__thirdLine {
            @extend .flex-row;
            align-items: center;
            padding: 1rem;
            padding-left: 3rem;

            section {
                margin: auto 1rem;

                p {
                    margin-top: .7rem
                }
            }
        }

        &__forthLine {
            @extend .flex-column;
            border-top: 1px solid cadetblue;
            width: 95%;
            align-items: center;
            padding: 20px;

            .btn {
                width: 200px;
            }

            h5 {
                position: relative;
                font-size: x-large;
                font-weight: 300;
                margin-bottom: 50px;

            }
        }
    }

    &__info {
        width: 20%;
        padding: 1rem;
        // margin-left: 1rem;
        align-items: center;

        p {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: small;
            margin-top: 1rem;
            color: cadetblue;
        }
    }
}