.container {
    // box-sizing: border-box;
    border: 1px solid #f6f6f6;
    padding: 10px 5px;
    border-radius: 8px;
    margin: 1rem;
    cursor: pointer;
    text-align: center;
    background-color: #f4f4f4;

    &:hover {
        animation: glow 1s infinite alternate;
    }

    &__image {
        width: 50%;
    }

    h2 {
        color: #263849
    }

    a:hover {
        text-decoration: none;
    }
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px -10px #81c8ca;
    }

    to {
        box-shadow: 0 0 10px 10px #81c8ca;
    }
}