.container {
    box-sizing: border-box;
    border: 1px solid #f6f6f6;
    padding: 10px 10px;
    border-radius: 8px;
    margin: 2rem;
    cursor: pointer;
    text-align: center;
    background-color: #f4f4f4;
    &__image:hover{
        width: 65%;
        transition:  ease-in-out;
    }
}