.container {
    box-sizing: border-box;
    border: 1px solid #f6f6f6;
    padding: 10px 5px;
    border-radius: 8px;
    margin: 1rem;
    cursor: pointer;
    text-align: center;
    background-color: #f4f4f4;

    &__image{
        width: 50%;
        transition:  ease-in-out;
    }

    h2{
        color: #263849
    }

    a:hover{
        text-decoration: none;
    }
}